.front_body {
  background-image: url("./front_body.png");
  background-size: 406px 770px;
  height: 770px;
  width: 406px;

  .front_cheek_right {
    height: 72px;
    width: 15px;
    top: 14px;
    left: 162px;
  }

  .front_forehead_center {
    height: 27px;
    width: 51px;
    top: 16px;
    left: 178px;
  }

  .front_cheek_left {
    height: 72px;
    width: 15px;
    top: 14px;
    left: 229px;
  }

  .front_eye_right {
    width: 21px;
    height: 14px;
    top: 46px;
    left: 177px;
  }

  .front_nose_center {
    width: 19px;
    height: 31px;
    top: 45px;
    left: 193px;
  }

  .front_eye_left {
    width: 21px;
    height: 14px;
    top: 46px;
    left: 208px;
  }

  .front_mouth_center {
    width: 30px;
    height: 18px;
    top: 77px;
    left: 188px;
  }

  .front_neck_right {
    width: 15px;
    height: 39px;
    top: 100px;
    left: 178px;
  }

  .front_neck_center {
    width: 21px;
    height: 36px;
    top: 109px;
    left: 192px;
  }

  .front_neck_left {
    width: 15px;
    height: 39px;
    top: 100px;
    left: 213px;
  }

  .front_arm_right {
    width: 98px;
    height: 53px;
    top: 127px;
    left: 100px;
  }

  .front_arm_left {
    width: 97px;
    height: 53px;
    top: 127px;
    left: 208px;
  }

  .front_chest_right {
    width: 64px;
    height: 107px;
    top: 153px;
    left: 138px;
  }

  .front_chest_left {
    width: 64px;
    height: 107px;
    top: 153px;
    left: 203px;
  }

  .front_biceps_right {
    width: 51px;
    height: 70px;
    top: 178px;
    left: 88px;
  }

  .front_elbow_right {
    width: 45px;
    height: 34px;
    top: 244px;
    left: 75px;
  }

  .front_underarm_right {
    width: 58px;
    height: 79px;
    top: 272px;
    left: 54px;
  }

  .front_wrist_right {
    width: 35px;
    height: 28px;
    top: 345px;
    left: 40px;
  }

  .front_opisthenar_right {
    width: 43px;
    height: 41px;
    top: 366px;
    left: 21px;
    z-index: 1;
  }

  .front_finger_right {
    width: 53px;
    height: 73px;
    top: 368px;
    left: 0px;
  }

  .front_waist_right {
    width: 44px;
    height: 25px;
    top: 259px;
    left: 148px;
  }

  .front_belly_right {
    width: 43px;
    height: 37px;
    top: 283px;
    left: 143px;
  }

  .front_abdomen_right {
    width: 44px;
    height: 40px;
    top: 318px;
    left: 134px;
  }

  .front_hip_right {
    width: 29px;
    height: 61px;
    top: 359px;
    left: 124px;
  }

  .front_prostate_right {
    width: 41px;
    height: 66px;
    top: 361px;
    left: 147px;
  }

  .front_waist_center {
    width: 17px;
    height: 37px;
    top: 246px;
    left: 195px;
  }

  .front_belly_center {
    width: 38px;
    height: 33px;
    top: 285px;
    left: 184px;
  }

  .front_abdomen_center {
    width: 43px;
    height: 47px;
    top: 322px;
    left: 182px;
  }

  .front_prostate_center {
    width: 39px;
    height: 52px;
    top: 377px;
    left: 183px;
  }

  .front_waist_left {
    width: 44px;
    height: 25px;
    top: 259px;
    left: 213px;
  }

  .front_belly_left {
    width: 43px;
    height: 37px;
    top: 283px;
    left: 220px;
  }

  .front_abdomen_left {
    width: 44px;
    height: 40px;
    top: 318px;
    left: 229px;
  }

  .front_hip_left {
    width: 29px;
    height: 61px;
    top: 359px;
    left: 252px;
  }

  .front_prostate_left {
    width: 41px;
    height: 66px;
    top: 361px;
    left: 217px;
  }

  // 上臂
  .front_biceps_left {
    width: 51px;
    height: 70px;
    top: 178px;
    left: 266px;
  }

  //手肘
  .front_elbow_left {
    width: 45px;
    height: 34px;
    top: 244px;
    left: 285px;
  }

  //小臂
  .front_underarm_left {
    width: 58px;
    height: 79px;
    top: 272px;
    left: 293px;
  }

  //手腕
  .front_wrist_left {
    width: 35px;
    height: 28px;
    top: 345px;
    left: 331px;
  }

  //手背
  .front_opisthenar_left {
    width: 43px;
    height: 41px;
    top: 366px;
    left: 342px;
    z-index: 1;
  }

  //手指
  .front_finger_left {
    width: 53px;
    height: 73px;
    top: 368px;
    left: 353px;
  }

  .front_thigh_right {
    width: 72px;
    height: 95px;
    top: 423px;
    left: 126px;
  }

  .front_knee_right {
    width: 58px;
    height: 62px;
    top: 522px;
    left: 126px;
  }

  .front_leg_right {
    width: 55px;
    height: 86px;
    top: 584px;
    left: 126px;
  }

  .front_ankle_right {
    width: 37px;
    height: 42px;
    top: 673px;
    left: 134px;
  }

  .front_foot_right {
    width: 55px;
    height: 54px;
    top: 715px;
    left: 116px;
  }

  .front_thigh_left {
    width: 72px;
    height: 95px;
    top: 423px;
    left: 208px;
  }

  .front_knee_left {
    width: 58px;
    height: 62px;
    top: 522px;
    left: 221px;
  }

  .front_leg_left {
    width: 55px;
    height: 86px;
    top: 584px;
    left: 224px;
  }

  .front_ankle_left {
    width: 37px;
    height: 42px;
    top: 673px;
    left: 234px;
  }

  .front_foot_left {
    width: 55px;
    height: 54px;
    top: 715px;
    left: 234px;
  }
}
.back_body {
  background-image: url("./back_body.png");
  background-size: 404px 767px;
  height: 767px;
  width: 404px;

  //头部左侧 brain
  .back_brain_left {
    width: 17px;
    height: 66px;
    top: 14px;
    left: 160px;
  }

  //颈部左侧 neck
  .back_neck_left {
    width: 15px;
    height: 41px;
    top: 80px;
    left: 179px;
  }

  //左肩 arm
  .back_arm_left {
    width: 97px;
    height: 55px;
    top: 122px;
    left: 100px;
  }

  //左上臂 biceps
  .back_biceps_left {
    width: 53px;
    height: 76px;
    top: 168px;
    left: 88px;
  }

  //左胳膊肘 elbow
  .back_aelbow_left {
    width: 48px;
    height: 41px;
    top: 235px;
    left: 75px;
  }

  //左小臂 underarm
  .back_underarm_left {
    width: 58px;
    height: 79px;
    top: 271px;
    left: 53px;
  }

  //左手腕 wrist
  .back_wrist_left {
    width: 36px;
    height: 27px;
    top: 343px;
    left: 39px;
  }

  //左手背 opisthenar
  .back_opisthenar_left {
    width: 45px;
    height: 43px;
    top: 365px;
    left: 19px;
    z-index: 1;
  }

  //左手指 finger
  .back_finger_left {
    width: 48px;
    height: 75px;
    top: 369px;
    left: 1px;
  }

  //左后背 rearSide
  .back_rearSide_left {
    width: 53px;
    height: 113px;
    top: 146px;
    left: 142px;
  }

  //左腰上 waistTop
  .back_waistTop_left {
    width: 46px;
    height: 30px;
    top: 253px;
    left: 147px;
  }

  //左腰 waist
  .back_waist_left {
    width: 59px;
    height: 27px;
    top: 284px;
    left: 142px;
  }

  //左臀 buttocks
  .back_buttocks_left {
    width: 73px;
    height: 99px;
    top: 313px;
    left: 125px;
  }

  //左大腿 thigh
  .back_thigh_left {
    width: 75px;
    height: 106px;
    top: 409px;
    left: 123px;
  }

  //左膝盖 knee
  .back_knee_left {
    width: 56px;
    height: 64px;
    top: 519px;
    left: 126px;
  }

  //左小腿 leg
  .back_leg_left {
    width: 57px;
    height: 84px;
    top: 584px;
    left: 124px;
  }

  //左脚踝 ankle
  .back_ankle_left {
    width: 37px;
    height: 44px;
    top: 670px;
    left: 132px;
  }

  //左脚 foot
  .back_foot_left {
    width: 54px;
    height: 53px;
    top: 714px;
    left: 116px;
  }

  //后脑 afterbrain
  .back_afterbrain_center {
    width: 43px;
    height: 36px;
    top: 5px;
    left: 180px;
  }

  //颈椎 cervical
  .back_cervical_center {
    width: 19px;
    height: 48px;
    top: 80px;
    left: 193px;
  }

  //腰椎 lumbar
  .back_lumbar_center {
    width: 12px;
    height: 141px;
    top: 142px;
    left: 196px;
  }

  //肛门 anus
  .back_anus_center {
    width: 31px;
    height: 44px;
    top: 350px;
    left: 186px;
  }

  //头部右侧 brain
  .back_brain_right {
    width: 17px;
    height: 66px;
    top: 14px;
    right: 159px;
  }

  //颈部右侧 neck
  .back_neck_right {
    width: 15px;
    height: 41px;
    top: 80px;
    right: 179px;
  }

  //右肩 arm
  .back_arm_right {
    width: 97px;
    height: 55px;
    top: 122px;
    right: 100px;
  }

  //右上臂 biceps
  .back_biceps_right {
    width: 53px;
    height: 76px;
    top: 168px;
    right: 88px;
  }

  //右胳膊肘 elbow
  .back_aelbow_right {
    width: 48px;
    height: 41px;
    top: 235px;
    right: 75px;
  }

  //右小臂 underarm
  .back_underarm_right {
    width: 58px;
    height: 79px;
    top: 271px;
    right: 53px;
  }

  //右手腕 wrist
  .back_wrist_right {
    width: 36px;
    height: 27px;
    top: 343px;
    right: 39px;
  }

  //右手背 opisthenar
  .back_opisthenar_right {
    width: 45px;
    height: 43px;
    top: 365px;
    right: 19px;
    z-index: 1;
  }

  //右手指 finger
  .back_finger_right {
    width: 48px;
    height: 75px;
    top: 369px;
    right: 2px;
  }

  //右后背 rearSide
  .back_rearSide_right {
    width: 53px;
    height: 113px;
    top: 146px;
    right: 142px;
  }

  //右腰上 waistTop
  .back_waistTop_right {
    width: 46px;
    height: 30px;
    top: 253px;
    right: 147px;
  }

  //右腰 waist
  .back_waist_right {
    width: 59px;
    height: 27px;
    top: 284px;
    right: 143px;
  }

  //右臀 buttocks
  .back_buttocks_right {
    width: 73px;
    height: 99px;
    top: 313px;
    right: 125px;
  }

  //右大腿 thigh
  .back_thigh_right {
    width: 75px;
    height: 106px;
    top: 409px;
    right: 124px;
  }

  //右膝盖 knee
  .back_knee_right {
    width: 56px;
    height: 64px;
    top: 519px;
    right: 127px;
  }

  //右小腿 leg
  .back_leg_right {
    width: 57px;
    height: 84px;
    top: 584px;
    right: 124px;
  }

  //右脚踝 ankle
  .back_ankle_right {
    width: 37px;
    height: 44px;
    top: 670px;
    right: 132px;
  }

  //右脚 foot
  .back_foot_right {
    width: 54px;
    height: 53px;
    top: 714px;
    right: 116px;
  }
}
