.doc-wrapper {
  padding: 9px 15px 15px;
  font-size: 14px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  .doc-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dbe6f4;
    padding: 0 10px 9px;
    .summary {
      line-height: 32px;
      margin: 0;
      em {
        font-weight: bold;
        font-style: normal;
        padding-right: 12px;
      }
      .commit {
        font-size: 12px;
        span {
          opacity: 0.5;
          padding-left: 15px;
        }
      }
    }
    .btn-wrap {
      display: flex;
      justify-content: flex-end;
    }
  }
  .doc-main {
    flex: 1;
    overflow-y: auto;
    table:not(.el-date-table) {
      border-collapse: collapse;
      width: 100%;
      th,
      td {
        border: 1px solid #999;
        padding: 5px;
      }
    }
  }
  .doc-form {
    padding-bottom: 10px;
    max-width: 1000px;
    margin: 0 auto;

    h1 {
      text-align: center;
      font-size: 28px;
      font-weight: normal;
    }
    h2 {
      text-align: center;
      font-size: 24px;
      font-weight: normal;
    }
    ::v-deep .el-form-item {
      display: flex;
      margin-bottom: 0px;
      padding: 0 15px;
      .el-form-item__label {
        padding-right: 0;
      }
      .el-form-item__content {
        flex: 1;
        margin-right: 0;
        display: flex;
        align-items: center;
      }

      .el-checkbox__label,
      .el-radio__label {
        color: #000622 !important;
      }
      .el-input,
      .el-select {
        flex: 1;
        width: auto;
      }
      .el-checkbox,
      .el-radio {
        margin-right: 10px;
      }
    }
    ::v-deep input,
    ::v-deep textarea {
      border: none;
      border-bottom: 1px solid #ccc;
      border-radius: 0;
      background: none;
    }
    .onlyshow {
      flex: 1;
      height: 100%;
      border-bottom: 1px solid #ccc;
    }

    .doc-items-div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

@media print {
  .doc-wrapper {
    width: 100%;
    margin-left: 0;
    display: block;

    .doc-form {
      ::v-deep .el-form-item {
        .el-checkbox__inner {
          border-color: #000622 !important;
        }
        .el-checkbox__inner::after {
          border-color: #000622 !important;
        }
        .el-radio__inner {
          border-radius: 0;
          border-color: #000622 !important;
        }
        .el-radio__input.is-checked .el-radio__inner{
          background: none;
          &::after {
            box-sizing: content-box;
            width: 3px;
            height: 7px;
            border-right: 1px solid #000622;
            border-bottom: 1px solid #000622;
            border-radius: 0;
            top: 1px;
            left: 4px;
            transform: rotate(45deg) scaleY(1);
          }

        }
        
        .el-select .el-tag__close.el-icon-close {
          display: none;
        }
      }
    }
  }
  .no-print{
    display: none;
  }
}
